.NavbarItem {
  font-family: Jura, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.66px;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.8;
  transition: 0.25s;

  &:hover {
    opacity: 1;
  }
}
