.SecondLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-image: url("@/assets/image1.jpg");
}

.logo {
  display: flex;
    justify-content: center;
    align-items: center;
}

//.description {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  gap: 15px;
//}
//
//.logoText {
//  margin-bottom: 10px;
//  font-size: 58px;
//  font-weight: 800;
//  line-height: 70px;
//  letter-spacing: 0;
//  text-align: left;
//  color: #FFFFFF;
//}

.text {
  margin-left: 180px;
  font-size: 24px;
  font-weight: 200;
  line-height: 29.05px;
  text-align: left;
  color: #d9d9d9;
  opacity: 0.75;
}
