.MainPage {
  display: flex;
  min-height: 100vh;
}

.MainHalf {
  display: flex;
  align-items: center;
  position: relative;
  padding: 150px 250px;
  width: 50%;
  background: #383c42;
}

.logo {
  position: absolute;
  top: 50px;
  left: 70px;
}

.langSwitcher {
  position: absolute;
  top: 30px;
  right: 50px;
}
