.MainPage {
}

.sectionBody {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 150px;
}

.docPreview {
  display: flex;
  align-items: center;
  gap: 50px;
}

.buttonLink {
  color: white;
}

.buttonInner {
  background: transparent;
}
